# Terraform state files
*.tfstate
*.tfstate.backup
tfplan
*.lock.*
# Terraform crash logs
crash.log

# Local .terraform directories
.terraform/

# Any local environment variables
.env

# Private key files
*.pem
*.key
